/.mule
/logs
/eclipse-bin
/target
/commerce.iws
/log
/out
.directory
.idea
*.xcodeproj
*.iml
*.ipr
*.iws
*.ids
*.log
target
service/booter/etc
service/booter/logs
nohup.out
*foo.xml
/classes
/TAGS
web/src/main/public/assets/scripts/*Combined.js
web/src/main/public/assets/styles/*Combined.css
common/src/main/java/com/swacorp/common/FeatureName.java
common/src/main/java/com/swacorp/service/environmentManagementService/features/FeatureStates.java
common/src/main/java/com/swacorp/service/environmentManagementService/features/ToggleFeatureProperties.java
common/toggleFeatures/xml/
common/src/main/resources/feature-toggle-beans.xml
atlassian-ide-plugin.xml
service/gemfire/src/main/resources/*-gemfire-client.properties
service/gemfire/src/main/resources/*-gemfire-client.xml
service/gemfire-client/src/main/resources/*-gemfire-client.properties
service/gemfire-client/src/main/resources/*-gemfire-client.xml
service/booter/src/main/resources/*-gemfire-client.properties
service/booter/src/main/resources/*-gemfire-client.xml
service/booter/.java
.java
/null
/null/*
*.h2.dbintegration-test/*.h2.db
.project
.classpath
.settings
Thumbs.db
groovy-functional-tests/screenshots
localCaches/enhanced_routingInfo-backup-localhost.xml
localCaches/routingInfo-backup-localhost.xml
web-functional/src/test/screenshots/
localCaches/enhanced_routingInfo-backup.xml
localCaches/routingInfo-backup.xml
